<header>
	<nav>
		<ul>
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "Membership", "/static_pages/membership" %></li>
			<li><%= link_to "Classes", "/static_pages/classes" %></li>
			<li><%= link_to "Contact Us", "/static_pages/contactus" %></li>
		</ul>
	</nav>
</header>
